<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header post-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Add Article</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= form_tag author_sessions_path, method: :post, class: 'form-style' do %>
            <p class="field">
              <%= label_tag :email %>
              <%= text_field_tag :email %>
              <br/>
            </p>
            <p class="field">
              <%= label_tag :password %>
              <%= password_field_tag :password %>
              <br/>
            </p>
            <p class="actions">
              <%= submit_tag "Login" %>
            </p>
        <% end %>
      </div>
    </div>
  </div>
</article>